<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/092f5efe-b201-405d-8b35-1cf7c6fd18cc/resourceGroups/WA_UIA_SEA/providers/Microsoft.Web/sites/UIA-sea</ResourceId>
    <ResourceGroup>WA_UIA_SEA</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://uia-sea.azurewebsites.net/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>uia-sea.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>UIA-sea</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$UIA-sea</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=uia-sqlserver-sea.database.windows.net;Initial Catalog=uia-database;User ID=UIAadmin;Password=admin@123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="UIAWebApp.Models.ApplicationDbContext, UIAWebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="UIATicketDataEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=uia-sqlserver-sea.database.windows.net;Initial Catalog=uia-database;User ID=UIAadmin;Password=admin@123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="UIAWebApp.Models.UIATicketDataEntities, UIAWebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="UIATicketDataEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.UIADataModel.csdl|res://*/Models.UIADataModel.ssdl|res://*/Models.UIADataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=uia-sqlserver-sea.database.windows.net;Initial Catalog=uia-database;User ID=UIAadmin;Password=admin@123"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=uia-sqlserver-sea.database.windows.net;Initial Catalog=uia-database;User ID=UIAadmin;Password=admin@123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="UIATicketDataEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.UIADataModel.csdl|res://*/Models.UIADataModel.ssdl|res://*/Models.UIADataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=uia-sqlserver-sea.database.windows.net;Initial Catalog=uia-database;User ID=UIAadmin;Password=admin@123"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=uia-sqlserver-sea.database.windows.net;Initial Catalog=uia-database;User ID=UIAadmin;Password=admin@123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="UIATicketDataEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.UIADataModel.csdl|res://*/Models.UIADataModel.ssdl|res://*/Models.UIADataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=uia-sqlserver-sea.database.windows.net;Initial Catalog=uia-database;User ID=UIAadmin;Password=admin@123"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=uia-sqlserver-sea.database.windows.net;Initial Catalog=uia-database;User ID=UIAadmin;Password=admin@123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="UIATicketDataEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.UIADataModel.csdl|res://*/Models.UIADataModel.ssdl|res://*/Models.UIADataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=uia-sqlserver-sea.database.windows.net;Initial Catalog=uia-database;User ID=UIAadmin;Password=admin@123"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=uia-sqlserver-sea.database.windows.net;Initial Catalog=uia-database;User ID=UIAadmin;Password=admin@123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="UIATicketDataEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.UIADataModel.csdl|res://*/Models.UIADataModel.ssdl|res://*/Models.UIADataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=uia-sqlserver-sea.database.windows.net;Initial Catalog=uia-database;User ID=UIAadmin;Password=admin@123"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=uia-sqlserver-sea.database.windows.net;Initial Catalog=uia-database;User ID=UIAadmin;Password=admin@123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>