@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Ukraine International Airlines (UIA)</h3>

<address>
    Street Microsoft Ten<br />
    City Perth, WA 94452<br />
    <abbr title="Phone">P:</abbr>
    425.55220.22233
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>