@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ukraine International Airlines (UIA)</h1>

</div>

<div class="row">
    <div class="row">
        <div>
            <h2>Welcome to our Website! (UIA Online Fight Ticket Booking System)</h2>
            <img style="width:100%;" alt="UIA" src="~/image/airline.jpg">
            <p>
                Ukraine International Airlines (UIA) is the flangship carrier and largest airline in Ukraine.
                It operates domestice and international passenger flights and cargo services to Europe, the Middle East, the United States
                , and Asia. Dmitriy Prudnikov is the chief information Officer at Ukraine Internation Airlines, realized that migrating the website out of UIA datacenters into a public clound solve all these problems.
                UIA allow users and customer to book thier air ticket throught this online Floght Booking System.
            </p>
            <p>
                <a class="btn btn-default" href="">Learn more &raquo;</a>
            </p>
        </div>
      
    </div>
</div>